<app-header select="AddBatch"></app-header>


<div class="container">

  <div>
    <div *ngIf="var4" class="optionIcons">
        <h1 style="text-align: center">Batch</h1><br>
        <a (click)='newBatch()'>
        <div class="polaroid1">
            <img class="iconImage" src="../../../assets/Images/add.svg" alt="Add Batch" style="width:100%">
            <div class="textContainer">
            <p>Add A New Batch</p>
            </div>
        </div>
        </a>
        <a (click)='existingBatch()'>
        <div class="polaroid2">
            <img class="iconImage"  src="../../../assets/Images/modify.svg" alt="Norther Lights" style="width:100%">
            <div class="textContainer">
            <p>Modify Existing Batch</p>
            </div>
        </div>
        </a>



      <!-- <h3>Select your Option</h3><br> -->
      <!-- <a (click)='newBatch()'><img src="../../../assets/Images/add.png"></a>
      <a (click)='existingBatch()'><img src="../../../assets/Images/modify.svg"></a> -->
      <!-- <button class="btn btn-sm center-block btn-success" (click)='newBatch()'>New Batch</button><br>
      <button class="btn btn-sm center-block btn-primary" (click)='existingBatch()'>Existing Batch</button> -->
    </div>

    <div *ngIf="var5" class="col-sm-4" class="select">
      <h3>Select Batch</h3><br>
      <select class="form-control" [(ngModel)]="selectedBatch" (change)='add()'>
        <option value="" selected disabled>Select Batch</option>
        <option *ngFor="let x of batches;index as i" [value]="x.batchId">{{x.batchName}}</option>
      </select><br>
      <button class="btn btn-sm btn-danger center-block " (click)='back1()'>Back</button>

    </div>
    <div *ngIf="var1" class="col-sm-4" class="select">
      <h3>Batch Name</h3><br>
      <input class="form-control" type="text" id="batchName" [(ngModel)]="batchName"><br>
      <button class="btn btn-sm center-block btn-success" [disabled]='!batchName' (click)='addBatch()'>Add Batch</button><br>
      <button class="btn btn-sm center-block btn-danger" (click)='back()'>Back</button>
    </div>
  </div>

  <div *ngIf="var2">
    <form [formGroup]="TrainerAllocationForm">
      <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          <h3 style="text-align: center">Add Session</h3>

          <label>Course Name</label>
          <select class="form-control" formControlName="course_id" [(ngModel)]="cid" (change)='loadTrainers()'>
            <option *ngFor="let x of courses" [value]=x.course_id>{{x.course_name}}</option>
          </select>

          <label>Trainer Name</label>
          <select class="form-control" formControlName="trainer_id" [(ngModel)]="tid" (change)='loadBackUp()'>
            <option *ngFor="let t of trainers" [value]=t.trainerId>{{t.trainerName}}</option>
          </select>

          <label>Back-up Trainer</label>
          <select class="form-control" formControlName="backup_trainer_id">
            <option *ngFor="let b of trainersDummy" [value]=b.trainerId>{{b.trainerName}}</option>
          </select>

          <label>Start Time</label>
          <angular2-date-picker formControlName="startTime" [(ngModel)]="date" [settings]="settings"
            style="padding: 0.1rem 0.1rem"></angular2-date-picker>

          <label>End Time</label>
          <angular2-date-picker formControlName="endTime" [(ngModel)]="date1" [settings]="settings"
            style="padding: 0.1rem 0.1rem"></angular2-date-picker>

          <label>Comments</label>
          <textarea formControlName="comment" class="md-textarea form-control" rows="3"></textarea><br><br>
          <div class="btn-group">
          <button class="btn btn-primary" style="margin-left: 130px" [disabled]="!(cid && tid && date && date1)" (click)='addRow()'>Add</button>
          <button class="btn btn-danger" (click)='back2()'>Back</button>
        </div>
        </div>

        <div class="col-sm-4">
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="var3">
    <h2>Available Sessions</h2>
    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th>Date</th>
          <th>Course Name</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Trainer Name</th>
          <th>Backup Trainer</th>
          <th>Comments</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of addToTable;index as t">
          <td>{{a.startTime|date:'dd/MM/yyyy'}}</td>
          <td>{{a.course_name}}</td>
          <td>{{a.startTime|date:'HH:mm a'}}</td>
          <td>{{a.endTime|date:'HH:mm a'}}</td>
          <td>{{a.trainer_name}}</td>
          <td>{{a.backup_trainer_name}}</td>
          <td>{{a.comment}}</td>
          <td style="text-align: center"><button class="btn btn-outline-light" (click)="deleteRow(t)">
              <i class="fa fa-trash-o" style="color:red;font-size:15px"></i></button></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success center-block "   [disabled]="!TrainerAllocationForm.valid" (click)='callSubmit()'>Submit</button>

  </div>
</div>