<app-header select="View"></app-header>
<div class="container">
  <h2 class="text-center">Timesheet</h2><br>

  <div class="col-md-3">
    <label>Batch :</label>
    <select class="form-control" [(ngModel)]="selectedBatch" (change)='loadSessions()' placeholder="Select Batch">
      <option value="" selected disabled>Select Batch</option>
      <option *ngFor="let x of batches; index as i" [value]="x.batchId">{{x.batchName}}</option>
    </select><br><br>
  </div><br>

  <div *ngIf="var1" style="margin-top: 50px">
    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <th>Date</th>
          <th>Course</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Trainer</th>
          <th>Back Up Trainer</th>
          <th>Comments</th>
        </tr>
      </thead>
      <ng-container *ngFor="let recipient of datewiseSessions | keyvalue">
        <tr>
          <td [attr.rowspan]="recipient.value.length">{{recipient.key}}
          </td>
          <td>{{recipient.value[0].course.course_name}}</td>
          <td>{{recipient.value[0].start_time|date:'HH:mm a'}}</td>
          <td>{{recipient.value[0].end_time|date:'HH:mm a'}}</td>
          <td>{{recipient.value[0].trainer.trainer_name}}</td>
          <td><span
              *ngIf="recipient.value[0].backup_trainer!=undefined">{{recipient.value[0].backupTrainer.trainer_name}}</span>
          </td>
          <td>{{recipient.value[0].comment}}</td>

        </tr>
        <ng-container *ngFor="let data of recipient.value; let i= index;">
          <tr *ngIf="i!=0">
            <td>{{recipient.value[i].course.course_name}}</td>
            <td>{{recipient.value[i].start_time|date:'h:mm a'}}</td>
            <td>{{recipient.value[i].end_time|date:'h:mm a'}}</td>
            <td>{{recipient.value[i].trainer.trainer_name}}</td>
            <td><span
                *ngIf="recipient.value[i].backup_trainer!=undefined">{{recipient.value[i].backupTrainer.trainer_name}}</span>
            </td>
            <td>{{recipient.value[i].comment}}</td>
          </tr>
        </ng-container>
      </ng-container>
    </table>
  </div>

  <div *ngIf="var2" class="text-center">
    <img class="select" src="../../../assets/Images/noData.jpg"  class="rounded mx-auto d-block" alt="Responsive image">
    </div>
</div>

<!-- <div class="container">
    <div class="table-responsive">          
       <table class="table">
         <thead>
           <tr>
                   <th >UID</th>
                   <th >FIRSTNAME</th>
                   <th >LASTNAME</th>
                   <th >ROLE</th>
                   <th >GENDER</th>
                   <th >MAILID</th>
                   <th >MOBILENO</th>
                   <th >DOB</th>  
           </tr>
         </thead>
         <tbody>
               <tr *ngFor="let data of datas" >
                 <td>{{ data.userId }}</td>
                 <td>{{ data.firstName }}</td>
                 <td >{{ data.lastName }}</td>
                 <td >{{data.role}}</td>
                 <td >{{ data.gender }}</td>
                 <td >{{ data.emailId }}</td>
                 <td >{{data.mobileNo}}</td>
                 <td >{{ data.dob }}</td> 
               </tr>
             </tbody>
       </table>
       </div>
     </div> -->