<app-header select="AddTrainer"></app-header>
<div class="container">

  <div class="row">
    <div class="col-sm-5">

      <div class="col-xs-6">
        <h3>Add Trainer</h3><br>
        <div class="form-group">
    
            <label style="font-size: medium">Trainer Name:</label>
            <input type="text" class="form-control" [(ngModel)]="trainerName" placeholder="Enter the Trainer Name"><br>
            <label style="font-size: medium">Select Courses:</label><br>

            <form #form='ngForm' (ngSubmit)="onSubmit(form)">
              <div id="multiselect-sample" class="control-section">
                <div class="control-styles">
                  <ejs-multiselect id='multiselect-filtering' name='name' [(ngModel)]='value' popupHeight="200px"
                    [dataSource]='courses' [fields]='fields' (filtering)='onFiltering($event)' [allowFiltering]='true'
                    [placeholder]='watermarks' [value]='value'></ejs-multiselect><br>
                  <button type="submit" [disabled]="trainerName==''||value.length==0" class="btn btn-success btn-sm pull-right"
                    ejs-button>Add Trainer</button>
                </div>
              </div>
            </form>
            <br>
      
        </div>
        <!-- <div class="container">
          <mat-form-field>
            <mat-select [multiple]="true" [(ngModel)]="selectedCourses">
              <mat-option *ngFor="let course of courses;index as i" [value]="i">{{course.course_name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->

        <!-- <button type="button" [disabled]="!(trainerName)" class="btn btn-primary btn-sm"
          (click)="submit(trainerName,selectedCourses)">Add Trainer</button> -->
      </div>
    </div>

    <div class="col-sm-7">
      <h3>Trainers' Details</h3><br>
      <div style="overflow-y:auto; max-height: 300px">
        <table class="table table-bordered table-striped tableFixHead">
          <thead>
            <tr style="text-align: center">
              <th style="text-align: center">Trainer Name</th>
              <th style="text-align: center">Course name</th>
              <th style="text-align: center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of trainers">
              <td rowspan="t.courses.length()">{{t.trainerName|titlecase}}</td>
              <td>
                <!-- <table cellpadding="0" cellspacing="0"> -->
            <tr *ngFor="let c of t.courses">
              <td>{{c.course_name|titlecase}}</td>
            </tr>
            <!-- </table> -->
            </td>
            <td style="text-align: center"><button class="btn btn-outline-light" (click)="deleteTrainer(t.trainerId)">
                <i class="fa fa-trash-o" style="color:red;font-size:15px"></i></button></td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>





  </div>


</div>